#root {
  width: 100vw;
  height: 100vh;
}

.main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.dice-container {
  width: 500px;
  display: grid;
  grid-template: auto auto/repeat(5, 1fr);
}

button {
  font-size: x-large;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 5px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: aqua
}

.btn-container {
  margin: 1.5em 12.5em;
  display: flex;
  justify-content: center;
}

.btn {
  position: relative;
  width: 10em;
  color: white;
  cursor: pointer;
}

.held {
  background-color: rgb(45, 148, 45);
  color: white;
}

.count {
  position: absolute;
  right: 10px;
  padding: 0px 5px;
  background-color: rgb(136, 136, 232);
  color: azure;
  border-radius: 50%;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

.description {
  text-align: center;
  margin: 0px 150px 0px 150px;
}

.message {
  margin-top: 10px;
}